/*.swiper {
  width: 100%;
  padding-top: 50px;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
*/

.mySwiper {
  position: relative;
  overflow: hidden;
}

.mySwiper .swiper-slide {
  opacity: 0;
  transition: opacity 1s ease-in;
  animation: carouselAnimation 8s infinite;
}

@keyframes carouselAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
