
.footer-section {
  font-family: "Tauri", sans-serif;
  width: 100%;
  width: 70%;
  background-color: #ffffff;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 4rem 2rem;
  margin: 2rem 5rem;
  grid-template-columns: 20rem 20rem 20rem 20rem;
   margin: 2rem auto;
   padding: 5rem 0;
  font-size: 15px;
  line-height: 3px;
width: 80rem;

 }

h4 {
  font-weight: normal;
  transition-duration: 0.3s;
}

h4:hover {
  color: #f39317;
}
a {
  text-decoration: none;
  color: black;
  color: #262626;
}

h3 {
  padding-bottom: 1rem;
}
h4 {
  font-weight: normal;
}


ul {
  padding-left: 0;
 
}

li {
  display: flex;
  align-items: center;
}

.icon {
  color: orange;
  color: #f39317;
  font-size: 1.5rem;
  align-self: flex-start;
}
.phone {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.location {
  margin: 0 1rem;
  line-height: 1.5rem;
   width: 50%;
}

.location-card {
  margin-top: 1rem;
}

.facebook-icon,
.twitter-icon {
  margin-left: 1rem;
  background-color: white;
  color: orange;
  background-color: #ffffff;
  color: #f39317;
  transition-duration: 0.3s;
}

.facebook-icon:hover,
.twitter-icon:hover {
  color: #262626;
}

 .copy-right{
  margin-left: 2rem;
 }

@media only screen and (max-width: 600px) {
  .grid-container {
    display: inline-block;
    margin: auto;
     font-size: 12px;
    line-height: 3px;
    width: 100%;
  }

  .location {
     line-height: 1.5rem;
     width: 50%;
  }

  .follow-us {
    margin-top: 3rem;
  }

   .footer-card-middle,
   .footer-card-right{
    margin-top: 3rem;
   }

   .copy-right{
    margin-left: 0;
   }
}