.wrapperBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutBtn {
  height: 50px;
  width: 150px;
  background-color: #f39317;
  margin: 2rem 0;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutBtnDisabled {
  pointer-events: none;
}
