* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.star-container {
  padding: 2px;
  display: flex;
  gap: 3px;
}

.rating-box {
  cursor: pointer;
}

.stars {
  opacity: 50%;
  transition: color 0.2s ease;
}

.stars:hover {
  opacity: 100%;
}

.stars:active {
  opacity: 100%;
}

.starsactive {
  opacity: 100%;
}

/* New styles for tooltip */
.review-count-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    position: absolute;
    top: 100%; /* Position it right below the review count */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    white-space: nowrap; /* Prevent wrapping of tooltip text */
    margin-top: 5px; /* Some spacing between the review count and the tooltip */
}

.review-count-wrapper:hover .tooltip-text {
    display: block;
}
